@import "tailwindcss";

@layer base {
  html {
    font-family: "Crimson Pro", serif;
  }
}

@theme {
  --color-groomiblue: #8EACCD;
  --color-groomiblue-dark: #4E7EB1;
  --color-groomiblue-verydark: #325171;
  --color-groomizenf: #FEF9D9;
  --color-groomizenf-dark: #FCEB81;
  --color-plantwall: #C3E38D;
}